@import 'partials/form';
@import 'partials/guardian';
@import 'partials/navbar';
@import 'partials/gamertags';

.jumbotron{
	color: #333;
  padding: 10px;
  font-size: 21px;
  font-weight: 200;
  background-color: #eee;
  margin-bottom: 10px;
  cursor: pointer;
  h1{
    margin: 0;
  }
  .label{
    position: relative;
    bottom: 4px;
  }
}
.container{
	padding: 0;
	margin: 0;

}
