/* line 1, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/form.scss */
.search_wrapper {
  outline: 1px solid;
  height: 70px;
  padding: 1.4em 0 0 4em;
  background: #777;
  box-shadow: 1px 1px 10px black;
  margin: 0 auto;
  width: 320px;
}

/* line 10, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/form.scss */
.search_button {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

/* line 1, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_wrapper {
  position: absolute;
  outline: 1px solid;
  top: 25%;
  width: 750px;
  background: #333;
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 11, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.breakpoint-palm .guardian_wrapper {
  width: auto;
  left: 2%;
  right: 2%;
}

/* line 18, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_image {
  outline: 2px solid #FFF;
  width: 309px;
  height: 400px;
  float: left;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}
/* line 26, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_image .emblem_background {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #FFF;
}
/* line 33, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_image .emblem {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* line 42, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.level_class {
  font-size: 35px;
  position: relative;
  bottom: 13px;
  left: 260px;
  z-index: 5;
  color: gold;
}

/* line 50, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.level_icon {
  color: gold;
  z-index: 5;
  position: relative;
  bottom: 47px;
  left: 240px;
}

/* line 57, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_progress_bar {
  width: 307px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
  outline: 1px solid #222;
  margin: 0 auto;
  position: relative;
  bottom: 187px;
  left: 0px;
}

/* line 67, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.mote_progress_bar {
  width: 307px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
  outline: 1px solid #222;
  margin: 0 auto;
  position: relative;
  bottom: 186px;
  left: 0px;
}

/* line 77, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.mote_progression {
  height: 15px;
  background: cornflowerblue;
}

/* line 81, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_progression {
  height: 15px;
  background: gold;
}

/* line 85, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.grimoire_icon {
  z-index: 5;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 42px;
  left: 230px;
}

/* line 93, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.grimoire_points {
  z-index: 5;
  position: relative;
  bottom: 82px;
  left: 259px;
  color: #FFF;
  font-size: 16px;
}

/* line 101, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.currency_image {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
  border: 1.5px solid #FFF;
  position: relative;
  top: 190px;
  left: 10px;
  margin-left: 20px;
}

/* line 112, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.currency_text {
  position: relative;
  top: 1.7em;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 4px brown;
}

/* line 119, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.progress_bar {
  height: 90%;
  width: 30px;
  background: rgba(255, 255, 255, 0.4);
  outline: 2px solid #222;
  margin: 0 auto;
  position: relative;
  top: 30px;
  left: 120px;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

/* line 132, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.progression {
  width: 30px;
  background: crimson;
}

/* line 136, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.xp_wrapper {
  position: absolute;
  background: #e3e3e3;
  outline: 2px solid #FFF;
  opacity: 0;
  margin: 0;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  padding: 15px;
  z-index: -1;
}

/* line 149, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.xp_total, .xp_daily, .xp_weekly {
  color: crimson;
  margin: 0;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px gold;
  text-transform: uppercase;
}

/* line 156, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_stats_wrapper {
  outline: 2px solid #FFF;
  position: absolute;
  top: 20%;
  left: 5px;
  right: 5px;
  width: 310px;
  background: #888;
  z-index: 6;
}
/* line 165, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.guardian_stats_wrapper .close_stats {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #111;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #FFF, -1px -1px 1px #FFF;
  z-index: 10000;
  font-size: 20px;
  border: 1px solid;
  padding: 3px 0 0 10px;
  border-radius: 3em;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #FFF;
  margin: 0 0 30px 30px;
}

/* line 184, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.faction {
  float: left;
  margin: 20px 0;
  height: 165px;
  width: 310px;
}
/* line 189, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.faction .faction_icon {
  width: 75px;
  height: 75px;
  outline: 1px solid #FFF;
  margin-bottom: 10px;
  margin-left: 10px;
}
/* line 197, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.faction .faction_progress_bar {
  width: 280px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  outline: 2px solid #222;
  margin: 0 auto;
}
/* line 204, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.faction .faction_progression {
  height: 30px;
  background: gold;
}
/* line 208, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.faction .numeric_progression {
  position: relative;
  bottom: 180px;
  left: 90px;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px aliceblue;
  width: 200px;
  line-height: 25px;
}
/* line 217, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.faction .rank {
  position: relative;
  bottom: 15px;
}

/* line 222, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.vanguard_marks_icon {
  width: 36px;
  height: 35px;
  position: relative;
  display: inline-block;
  background-position: -43px 0 !important;
  bottom: 20px;
  left: 60px;
}
/* line 230, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.vanguard_marks_icon .vanguard_marks {
  position: relative;
  top: 15px;
  right: 25px;
  text-shadow: 1px 1px 4px aliceblue;
}

/* line 238, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.crucible_marks_icon {
  width: 36px;
  height: 35px;
  position: relative;
  display: inline-block;
  background-position: 0 0 !important;
  bottom: 20px;
  left: 140px;
}
/* line 246, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/guardian.scss */
.crucible_marks_icon .crucible_marks {
  position: relative;
  right: 25px;
  top: 15px;
  text-shadow: 1px 1px 4px aliceblue;
}

/* line 1, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/navbar.scss */
.nav_bar {
  width: 100%;
  height: 60px;
  background: #333;
  margin: 0px 0 7px;
}

/* line 7, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/navbar.scss */
.burger_icon {
  width: 50px;
  height: 50px;
  margin: 0;
  float: right;
  position: relative;
  top: 3px;
  right: 15px;
}

/* line 1, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/gamertags.scss */
.gamertag_tab {
  outline: 1px solid;
  background: url("../../img/digital_background.jpg");
  background-size: cover;
  width: 300px;
  margin: 0 auto 20px;
  padding: 5px;
  cursor: pointer;
}
/* line 9, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/gamertags.scss */
.gamertag_tab:hover {
  outline: 2px solid crimson;
}
/* line 12, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/gamertags.scss */
.gamertag_tab h2 {
  color: blanchedalmond;
  text-shadow: 1px 1px 9px gold;
  margin: 0;
}
/* line 17, ../../../../../../../Users/Giovanni/Documents/Code/javascript/projects/destinyApp/public/scss/partials/gamertags.scss */
.gamertag_tab h3 {
  margin: 0px;
  color: crimson;
  text-align: right;
  font-size: 15px;
}

/* line 6, ../app.scss */
.jumbotron {
  color: #333;
  padding: 10px;
  font-size: 21px;
  font-weight: 200;
  background-color: #eee;
  margin-bottom: 10px;
  cursor: pointer;
}
/* line 14, ../app.scss */
.jumbotron h1 {
  margin: 0;
}
/* line 17, ../app.scss */
.jumbotron .label {
  position: relative;
  bottom: 4px;
}

/* line 22, ../app.scss */
.container {
  padding: 0;
  margin: 0;
}
