/* line 1, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/form.scss */
.search_wrapper {
  position: absolute;
  top: 10%;
  left: 30%;
  right: 35%;
  outline: 1px solid;
  height: 5em;
  padding: 1.4em 0 0 4em;
  background: #777;
  box-shadow: 1px 1px 10px black;
}

/* line 1, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/guardian.scss */
.guardian_wrapper {
  position: absolute;
  outline: 1px solid;
  top: 25%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background: #333;
}

/* line 12, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/guardian.scss */
.guardian_image {
  width: 28em;
  height: 20em;
  float: left;
  margin: 10px;
}

/* line 19, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/guardian.scss */
.level_class {
  color: #FFF;
  font-size: 1.9em;
  position: relative;
  top: 80%;
  left: 90%;
}

/* line 26, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/guardian.scss */
.currency_image {
  width: 4em;
  height: 4em;
  float: left;
  margin: 10px;
  border: 1.5px solid #FFF;
}

/* line 33, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/guardian.scss */
.currency_text {
  position: relative;
  top: 1.7em;
  color: #FFF;
}

/* line 38, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/guardian.scss */
.progress_bar {
  width: 90%;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  outline: 2px solid #222;
  margin: 0 auto;
  position: relative;
  top: 60%;
}

/* line 47, ../../../../../../../Users/giovannidelacqua/Documents/code/javascript/project/destiny2/public/scss/partials/guardian.scss */
.progression {
  height: 30px;
  background: crimson;
}

/* line 4, ../app.scss */
.jumbotron {
  color: #333;
}
