.guardian_wrapper{
  //display: none;
  position: absolute;
  outline: 1px solid;
  top: 25%;
  width: 750px;
  //bottom: 5%;
  background: #333;
  margin-bottom: 50px;
  .breakpoint-palm &{
    width: auto;
    left: 2%;
    right: 2%;
  }
}

.guardian_image{
  outline: 2px solid #FFF;
  width: 309px;
  height: 400px;
  float: left;
  margin-top: 10px;
  position: relative;
  .emblem_background{
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 30px;
    border-top: 1px solid #FFF;
  }
  .emblem{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.level_class{
  font-size: 35px;
  position: relative;
  bottom: 13px;
  left: 260px;
  z-index: 5;
  color: gold;
}
.level_icon{
  color: gold;
  z-index: 5;
  position: relative;
  bottom: 47px;
  left: 240px;
}
.guardian_progress_bar{
width: 307px;
height: 15px;
background: rgba(255, 255, 255, 0.4);
outline: 1px solid #222;
margin: 0 auto;
position: relative;
bottom: 80px;
left: 0px;
}
.mote_progress_bar{
width: 307px;
height: 15px;
background: rgba(255, 255, 255, 0.4);
outline: 1px solid #222;
margin: 0 auto;
position: relative;
bottom: 80px;
left: 0px;
}
.mote_progression{
height: 15px;
background: cornflowerblue;
}
.guardian_progression{
height: 15px;
background: gold;
}
.grimoire_icon{
  z-index: 5;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 42px;
  left: 230px;
}
.grimoire_points {
  z-index: 5;
  position: relative;
  bottom: 82px;
  left: 259px;
  color: #FFF;
  font-size: 16px;
}
.currency_image{
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
  border: 1.5px solid #FFF;
  position: relative;
  top: 300px;
  left: 10px;
}
.currency_text{
position: relative;
top: 1.7em;
color: #FFF;
}
.progress_bar{
height: 90%;
width: 30px;
background: rgba(255, 255, 255, 0.4);
outline: 2px solid #222;
margin: 0 auto;
position: relative;
top: 30px;
left: 120px;
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
transform: rotate(180deg);
}
.progression{
width: 30px;
background: crimson;
}
.xp_wrapper{
position: absolute;
background: #e3e3e3;
outline: 2px solid #FFF;
opacity: 0;
margin: 0;
left: 5%;
right: 5%;
top: 5%;
bottom: 5%;
padding: 15px;
z-index: -1;
}
.xp_total, .xp_daily, .xp_weekly{
color: crimson;
margin: 0;
margin-bottom: 20px;
text-shadow: 1px 1px 5px gold;
text-transform: uppercase;
}
.guardian_stats_wrapper{
  outline: 2px solid #FFF;
  position: absolute;
  top: 20%;
  left: 5px;
  right: 5px;
  width: 310px;
  background: #888;
  z-index: 6;
  .close_stats{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #111;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #FFF, -1px -1px 1px #FFF;
    z-index: 10000;
    font-size: 20px;
    border: 1px solid;
    padding: 3px 0 0 10px;
    border-radius: 3em;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: #FFF;
    margin: 0 0 30px 30px;
  }
}
.faction{
  float: left;
  margin: 20px 0;
  height: 165px;
  width: 310px;
  .faction_icon{
    width: 75px;
    height: 75px;
    outline: 1px solid #FFF;
    margin-bottom: 10px;
    margin-left: 10px; 
    //background-size: cover;
  }
  .faction_progress_bar{
    width: 280px;
    height: 30px;
    background: rgba(255, 255, 255, 0.4);
    outline: 2px solid #222;
    margin: 0 auto;
  }
  .faction_progression{
    height: 30px;
    background: gold;
  }
  .numeric_progression{
    position: relative;
    bottom: 180px;
    left: 90px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px aliceblue;
    width: 200px;
    line-height: 25px;
  }
  .rank{
    position: relative;
    bottom: 15px;
  }
}
